@model AppGestionEMS.Models.GrupoClases

@{
    ViewBag.Title = "Borrar grupo de clase";
}
<div class="container container-fluid">

    <h2>Borrar grupo de clase</h2>

    <h3>¿Estás seguro que quieres borrar esta información?</h3>
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Cod_Grupo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cod_Grupo)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()


            <div class="form-actions no-color">
                <button type="submit" class="btn btn-danger">
                    <i class="fa fa-trash-o fa-lg"></i> Borrar
                </button>
                <span>
                    <a href="@Url.Action("Index", "GrupoClases" )" class="btn btn-primary">
                        <span class="fa fa-undo fa-lg"></span>
                        Volver a la lista
                    </a>
                </span>

            </div>

        }
    </div>
</div>