@model AppGestionEMS.Models.GrupoClases

@{
    ViewBag.Title = "Detalles grupo de clase";
}
<div class="container container-fluid">

    <h2>Detalles grupo de clase</h2>

    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Cod_Grupo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cod_Grupo)
            </dd>

        </dl>
    </div>
    <p>
        <span>
            <a href="@Url.Action("Edit", "GrupoClases", new { id = Model.Id })" class="btn btn-success">
                <span class="fa fa-pencil-square-o fa-lg"></span>
                Editar
            </a>
        </span>
        <span>
            <a href="@Url.Action("Index", "GrupoClases" )" class="btn btn-primary">
                <span class="fa fa-undo fa-lg"></span>
                Volver a la lista
            </a>
        </span>
    </p>
</div>