@{
    ViewBag.Title = "Acerca de";
}

<div id="header">
    <div class="flexslider">
        <ul class="slides">
            <li class="slider-item" style="background-image: url('/Content/images/slider/team.jpg')">
                <div class="intro container">
                    <div class="container-overlay">
                        <h1>ETSISI EM-Agency</h1>
                        <h2>Nuestro equipo</h2>
                        <h3>ETSISI EM-Agency trabaja ti</h3>
                        <h3>Deja tu proyecto en nuestras manos</h3>
                    </div>
                </div>
            </li> <!-- /.slider-item -->
        </ul> <!-- /.slides -->
    </div> <!-- /.flexslider -->
</div> <!-- /#header -->


<div class="container">
    <div class="row">
        <div class="scrollpost col-sm-3 col-xs-12 col-md-3 col-lg-3 px-0">
            <img src="/Content/images/foto_davidm.jpg" class="rounded-circle img-raised">
            <h4 style="text-align: center;">David Martín Diez de Oñate</h4>
        </div>
        <div class="scrollpost col-sm-3 col-xs-12 col-md-3 col-lg-3 px-0">
            <img src="/Content/images/foto_vop.jpg" class="rounded-circle img-raised">
            <h4 style="text-align: center;">Víctor M. Octavio Palomares</h4>
        </div>
        <div class="scrollpost col-sm-3 col-xs-12 col-md-3 col-lg-3 px-0">
            <img src="/Content/images/foto_dvl.jpg" class="rounded-circle img-raised">
            <h4 style="text-align: center;">David Velasco Laranjinha</h4>
        </div>
        <div class="scrollpost col-sm-3 col-xs-12 col-md-3 col-lg-3 px-0">
            <img src="/Content/images/foto_yuste.jpg" class="rounded-circle img-raised">
            <h4 style="text-align: center;">&nbsp;Javier &nbsp;Yuste &nbsp;Moure</h4>
        </div>
    </div>

</div>