@{
    ViewBag.Title = "Contacto";
}

<div id="header">
    <div class="flexslider">
        <ul class="slides">
            <li class="slider-item" style="background-image: url('/Content/images/slider/contact.jpg')">
                <div class="intro container">
                    <div class="container-overlay">
                        <h1>ETSISI EM-Agency</h1>
                        <h2>Nuestro equipo</h2>
                        <h3>¿Tienes alguna pregunta o comentario? Envíanos un mensaje</h3>
                        <h3>No compartiremos su correo electrónico ni revelaremos su identidad secreta</h3>
                    </div>
                </div>
            </li> <!-- /.slider-item -->
        </ul> <!-- /.slides -->
    </div> <!-- /.flexslider -->
</div> <!-- /#header -->

<hr />

<section class="contacts section-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="contact">
                    <div class="contact-icon">
                        <i class="ion-android-map"></i>
                    </div>
                    <div class="contact-name">
                        Dirección
                    </div>
                    <div class="contact-detail">
                        Calle Alan Turing s/n  <br>
                        (Carretera de Valencia Km 7) <br>
                        28031 Madrid <br>
                        España
                    </div>
                </div> <!-- /.contact -->
            </div>
            <div class="col-sm-4">
                <div class="contact">
                    <div class="contact-icon">
                        <i class="ion-ios-telephone"></i>
                    </div>
                    <div class="contact-name">
                        Teléfono
                    </div>
                    <div class="contact-detail">
                        Secretaría: 91 067 35 24<br>
                        Teléfono Conserjería: 91 067 35 34
                        <br><br><br>
                    </div>
                </div> <!-- /.contact -->
            </div>
            <div class="col-sm-4">
                <div class="contact">
                    <div class="contact-icon">
                        <i class="ion-email"></i>
                    </div>
                    <div class="contact-name">
                        Correo electrónico
                    </div>
                    <div class="contact-detail">
                        <br>
                        Secretaría:   <a href="mailto:negociado.alumnos@etsisi.upm.es">negociado.alumnos@etsisi.upm.es</a><br><br>
                        <br>
                    </div>
                </div> <!-- /.contact -->



            </div>

        </div>     <!-- /div del row -->
    </div>

</section>

